<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#taskDetailsModal" (click)="onSelect(task)">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Details
                </button>
                <button class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="selectedTask">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Tasks Details:
                    <span class="lead ml-2">{{ selectedTask.title }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title"> Title</label>
                        <input type="text" name="title" class="form-control" id="title" [(ngModel)]="selectedTask.title">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>