<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#taskDetailsModal" (click)="onSelect(task)">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Details
                </button>
                <button class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-task-detail [task]="selectedTask"></app-task-detail>